  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav>
    <div class="navbuttons">
    <a href="/runs/new">
      <button data-text="Awesome" class="button">
        <span class="actual-text">&nbsp;ADD&nbsp;</span>
        <span class="hover-text" aria-hidden="tru">&nbsp;RUN&nbsp;</span>
    </button>
    </a>
    <a href="/runs">
      <button data-text="Awesome" class="button">
        <span class="actual-text">&nbsp;RUNS&nbsp;</span>
        <span class="hover-text" aria-hidden="true">&nbsp;VIEW&nbsp;</span>
    </button>
    </a>
    <a href="/profiles">
      <button data-text="Awesome" class="button">
        <span class="actual-text">&nbsp;RUNNERS&nbsp;</span>
        <span class="hover-text" aria-hidden="true">&nbsp;VIEW&nbsp;</span>
    </button>
    </a>
  </div>
    <% if (user) { %>
      <a href="/auth/logout" class="right">
        <button data-text="Awesome" class="button">
          <span class="actual-text">&nbsp;LOGOUT&nbsp;</span>
          <span class="hover-text" aria-hidden="tru">&nbsp;OUT&nbsp;</span>
      </button>
      </a>
    <% } else { %>
      <div 
        id="g_id_onload"
        data-client_id="<%= googleClientID %>"
        data-login_uri="/auth/google"
        data-auto_prompt="false"
      ></div>
      <div 
        class="g_id_signin right"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left"
      ></div>
    <% } %>
  </nav>
