<%- include('../partials/html-head') %>
<!-- <link rel="stylesheet" href="/stylesheets/flights/index.css" /> -->
<%- include('../partials/nav') %>

<h1>IM WORKING</h1>
<% runs.forEach(run => { %>
  <h2><%= runs.name %></h2>

<% }) %>

<%- include('../partials/footer') %>