<%- include('../partials/html-head') %>
  <link rel="stylesheet" href="/stylesheets/runs/new.css">
  <%- include('../partials/nav') %>

    <main>
      <h1>
        <%= title %>
      </h1>
      <div class="add-input">
        <form id="new-form" action="/runs" method="POST">

          <input type="text" name="name" placeholder=" Run Name" id="run-input" autocomplete="off">
          <input type="number" name="miles" placeholder="Miles Ran" id="run-input" autocomplete="off">
          <input type="date" name="date" id="run-input" autocomplete="off">
          <input type="text" name="route" placeholder="Enter Run Route" id="run-input" autocomplete="off">


          <button type="submit" class="add-btn">New Run</button>

        </form>
      </div>
    </main>

    <%- include("../partials/footer") %>