main {
  max-height: 80vh;
}

.index-bodyruns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 40px;
  max-width: 800px;
  
}

table, tr, td, th {
  border: 1px solid white;
  background: white;
  color: black;
  text-align: center;

}

th {
  font-size: 1.5em;
  background: #37FF8B;
  padding: 20px;
  text-align: center;

}

.header {
  font-size: 2em;
  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.908);
  --animation-color: #37FF8B;
  --fs-size: 6em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";

  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1.5px var(--text-stroke-color);
}
