main {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;

}

/* .runners-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 350px;
  min-width: 20px;
  min-height: 40px;
  max-width: 1280px;
  border: solid white;
  background-color: aliceblue;
  color: black;
} */


/* .run-items {
  height: 40px;
  margin-bottom: 100px;
} */